

.calculator {
    width: 300px;
    margin: 130px auto;
    border: 2px solid #888585;
    border-radius: 10px;
    padding: 20px;
    background: #FEBE10;
  }
  
  .display {
    font-size: 2rem;
    padding: 10px;
    background: #dddddd;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: right;
  }
  
  .buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
  }
  
  button {
    font-size: 1.5rem;
    padding: 15px;
    border: none;
    border-radius: 5px;
    background: #2c2b2b;
    cursor: pointer;
    transition: background 0.2s;
    color: #FEBE10;
  }
  
  button:hover {
    background: #3a3a3c;
  }
  